<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/04_member.css')}}">
    <title>Member</title>
</head>

<body>
    <header class="main-header">
        <div class="container">
            <div class="home"><a href="/" id="Name">AI卡通化</a></div>
            <nav class="main-nav">
                <a href="member">Member</a>
                <a href="protected">Cartoon</a>
                <a href="#">Func_1</a>
                <a href="#">Func_1</a>
                <form class="form-inline ">
                    <h6> Wellcome! {{ userName }} </h6>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('logout')}}">登出系統</a>
                    </li>
                    {% else %}
                    <a href="{{url_for('login')}}">
                        <button id="btnLoginSignup" class="btn btn-outline-success " type="button">Login</button>
                    </a>
                    /
                    <a href="{{url_for('register')}}">
                        <button id="btnLoginSignup" class="btn btn-outline-success " type="button">Register</button>
                    </a>
                    {% endif %}
                </form>
            </nav>

        </div>
    </header>
    <div class="body">

        <div class="login">
            <form class="form" action="member" method="POST">
                <h2>會員資料修改</h2>
                <div class="group">
                    <label for="user_id">帳號</label>
                    <input type="text" name="userName" id="user_id" readonly="readonly" value="{{userName}}">
                </div>
                <div class="group">
                    <label for="user_password">密碼</label>
                    <input type="password" name="passWord" id="user_password" value="{{passWord}}">
                </div>
                <div class="group">
                    <label for="user_cellphone">手機號碼</label>
                    <input type="text" name="cellPhone" id="user_cellphone" value="{{cellPhone}}">
                </div>
                <div class="group">
                    <label for="user_email">Email</label>
                    <input type="text" name="mailBox" id="user_email" value="{{mailBox}}">
                </div>
                <div class="btn-group">
                    <button class="btn">確定</button>
                    <button class="btn">取消</button>
                </div>
            </form>
        </div>
    </div>
    <br>
    {% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ message }}
        </div>
        {% endfor %}
        {% block page_content %}{% endblock %}
    </div>
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>