<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="04_member.css">
    <title>Member</title>
</head>

<body>
    <header class="main-header">
        <div class="container">
            <div class="home"><a href="./00_index.html" id="Name">AI卡通化</a></div>
            <nav class="main-nav">
                <a href="./01_register.html">Regieter</a>
                <a href="./04_member.html">Member</a>
                <a href="protected">Cartoon</a>
                <a href="#">Func_1</a>
                <a href="#">Func_1</a>

                <form class="form-inline ">
                    <a href="./02_login.html">
                        <button id="btnLoginSignup" class="btn btn-outline-success " type="button">Login</button>
                    </a>
                </form>
            </nav>

        </div>
    </header>
    <div class="body">

        <div class="login">
            <form class="form">
                <h2>會員資料修改</h2>
                <div class="group">
                    <label for="user_id">帳號</label>
                    <input type="text" name="" id="user_id">
                </div>
                <div class="group">
                    <label for="user_password">密碼</label>
                    <input type="password" name="" id="user_password">
                </div>
                <div class="group">
                    <label for="user_cellphone">手機號碼</label>
                    <input type="text" name="" id="user_cellphone">
                </div>
                <div class="group">
                    <label for="user_email">Email</label>
                    <input type="text" name="" id="user_email">
                </div>
                <div class="btn-group">
                    <button class="btn">確定</button>
                    <button class="btn">取消</button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>